<!--@subject {{trans "Send contact request"}} @-->
{{template config_path="design/email/header_template"}}
<table style="float:left; margin-right: 10px" class="fue-abc-items">
    <tr>
        <td>
            <div>
                {{trans "Or if anything got you confused in shopping process?"}}
                {{trans "Feel free to contact again to discuss problems you may have."}}
                {{trans "Your satisfaction is the best product we desire to deliver."}}
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div>
                {{trans "Looking forward to seeing you around!"}}
            </div>
        </td>
    </tr>
</table>
{{template config_path="design/email/footer_template"}}