<!--@subject {{trans "Send contact request"}} @-->
{{template config_path="design/email/header_template"}}
<table style="float:left; margin-right: 10px" class="fue-abc-items">
    <tr>
        <td>
            <div>
                {{trans "You have received the request:"}}
                <table class="request-details">
                    <tr>
                        <td class="contact-data">
                            <h3>{{trans "Name"}}</h3>
                            <p>{{var contact_name|raw}}</p>
                        </td>
                    </tr>
                    <tr>
                        <td class="contact-data">
                            <h3>{{trans "Phone"}}</h3>
                            <p>{{var contact_phone|raw}}</p>
                        </td>
                    </tr>
                    <tr>
                        <td class="contact-data">
                            <h3>{{trans "Email"}}</h3>
                            <p>{{var contact_email|raw}}</p>
                        </td>
                    </tr>
                </table>
            </div>
        </td>
    </tr>
</table>
{{template config_path="design/email/footer_template"}}