<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="book_product" frontName="book_product">
            <module name="Profair_ProductBooking"/>
        </route>
    </router>
</config>