<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="send_request" frontName="send_request">
            <module name="Profair_RequestPopup"/>
        </route>
    </router>
</config>